body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 5;
    display: box;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .recipe-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  select,
  textarea,
  button {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
  }
  
  button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  #recipeText {
    margin-top: 50px;
    font-weight: bold;
  }